cassandra-driver==3.25.0
DateTime==4.4
discord==1.7.3
discord.py==1.7.3
ibm-watson==6.1.0
ibm-cloud-sdk-core==3.15.3
Pillow==9.2.0
requests==2.28.1
google-cloud-language==2.4.3
google-cloud-translate==3.10.1
python-dotenv==0.20.0