cassandra-driver==3.25.0
DateTime==4.3
discord==1.7.3
discord.py==1.7.3
ibm-watson==5.3.1
ibm-cloud-sdk-core==3.15.0
Pillow==9.0.1
requests==2.27.1
google-cloud-language==2.3.2
google-cloud-translate==3.6.1
python-dotenv==0.19.2