cassandra-driver==3.25.0
DateTime==4.4
discord==1.7.3
discord.py==1.7.3
ibm-watson==6.0.0
ibm-cloud-sdk-core==3.15.0
Pillow==9.0.1
requests==2.27.1
google-cloud-language==2.4.1
google-cloud-translate==3.7.2
python-dotenv==0.20.0